@model TeamEMVCProject.Models.UserModel
<!-- 图片弹出层 -->
<div class="modal fade" id="CurrentPicture" tabindex="-1" role="dialog" aria-labelledby="Title">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Title">作品名称：</h4>
            </div>
            <div class="modal-body">
                <img class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>
@*用户账号修改弹出层*@
<div class="modal fade" id="UserAccountEdit" tabindex="-1" role="dialog" aria-labelledby="Title">
    <div class="modal-dialog modal-lg" role="document">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="Title">用户Id：</h4>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">编号ID：</label>
                            @Html.TextBoxFor(m => m.Uid, new { @id = "uid", @class = "form-control readonly", @placeholder = "ID" })
                        </div>
                        <div class="form-group">
                            <label for="username" class="control-label">用户名：</label>
                            @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "form-control", @placeholder = "请输入修改后的账号" })
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">密码：</label>
                            @Html.TextBoxFor(m => m.PassWord, new { @id = "password", @class = "form-control", @placeholder = "请输入修改后的密码" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存修改</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>



@*提示删除信息弹出层*@
<div class="modal fade" id="Warning" tabindex="-1" role="dialog" aria-labelledby="Title">
    <div class="modal-dialog modal-lg" role="document">
        @using (Html.BeginForm("DeleteLoginModule", "BackGround"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" >提示信息：</h4>

                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="control-label" id="WarningInfo" readonly/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">确认操作</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>