@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*LastedProduct*@
@Html.Partial("~/Views/Partials/Index_LastedProduct.cshtml")

@*OurTarget*@
@Html.Partial("~/Views/Partials/Index_Target.cshtml")

@*TeamShare*@
@Html.Partial("~/Views/Partials/Index_TeamShare.cshtml")

<div class="content-block parallax" id="parallax">
    <div class="container text-center">
        <h1>“Innovation has no limits. The only limit is your imagination.”–Steve Jobs</h1>
        <a href="" class="btn btn-o-white btn-lg">待定</a>
    </div>
</div>

@*TeamMember*@
@Html.Partial("~/Views/Partials/Index_TeamMember.cshtml")

@*ContractUs*@
@Html.Partial("~/Views/Partials/Index_ConractUs.cshtml")







